.coach {
  max-width: 1160px;
  margin: 0 auto 143px;
  position: relative;
  width: calc(100% - 206px);

  @media (max-width: 1199px) {
    width: calc(100% - 202px);
    margin: 0 auto 100px;
  }

  @media (max-width: 767px) {
    width: calc(100% - 94px);
    margin: 0 auto 135px;
  }
}

.coach h2 {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: #102654;
  margin: 0 0 49px 0;

  @media (max-width: 1199px) {
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    margin: 0 0 29px 0;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 43px 0;
  }
}

.coach__slider {
  max-width: unset;

  @media (max-width: 1199px) {
    max-width: 73vw;
  }

  @media (max-width: 767px) {
    max-width: 71vw;
  }
}

.coach__slider-wrapper {
  display: flex;
}

.coach__card {
  position: relative;
  width: calc(100% - 120px);
  max-width: 260px;

  @media (max-width: 1199px) {
    max-width: 35vw;
  }

  @media (max-width: 767px) {
    max-width: 71vw;
  }
}

.coach__card:hover .coach__card-content {
  z-index: 1;
}

.coach__card:hover .coach__card-image h2 {
  z-index: -2;
}

.coach__card-image {
  position: relative;
}

.coach__card-image img {
  width: 100%;
  height: auto;

  @media (max-width: 1199px) {
    max-height: 100%;
    height: 38.4vw;
  }

  @media (max-width: 767px) {
    height: 85vw;
    max-height: 100%;
  }
}


.coach__card-image h2 {
  position: absolute;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  bottom: -26px;
  right: 77px;
  letter-spacing: unset;

  @media (max-width: 1199px) {
    bottom: -6px;
  }
}

.coach__card-content {
  position: absolute;
  background: rgba(16, 38, 84, 0.89);
  padding: 49px 46px 51px 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 1px;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @media (max-width: 1199px) {
    padding: 53px 46px 49px 38px;
  }

  @media (max-width: 767px) {
    padding: 40px 34px 49px 32px;
  }
}

.coach__card-content::-webkit-scrollbar {
  display: none;
}

.coach__card-content h2 {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  margin: 0;
  letter-spacing: unset;
  text-align: center;
}

.coach__card-content span {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #b6bdcc;
  margin: 0 0 31px 0;
}

.coach__card-list {
  padding: 0 0 0 26px;
  margin: 0;

  @media (max-width: 1199px) {
    padding: 0 0 0 32px;
  }

  @media (max-width: 767px) {
    padding: 0 0 0 16px;
  }
}

.coach__card-item {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;

  &:not(:last-child) {
    margin: 0 0 13px 0;
  }
}

.coach__next {
  background-color: transparent;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    border: 1px solid #afafaf;
    border-top: none;
    border-right: none;
    transform: rotate(225deg);
  }

  &:hover::before {
    scale: 1.1;
  }

  @media (max-width: 767px) {
    &::before {
      width: 13px;
      height: 13px;
    }
  }
}

.coach__previous {
  background-color: transparent;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    border: 1px solid #afafaf;
    border-top: none;
    border-right: none;
    transform: rotate(45deg);
  }

  &:hover::before {
    scale: 1.1;
  }

  @media (max-width: 767px) {
    &::before {
      width: 13px;
      height: 13px;
    }
  }
}
