.footer {
  min-height: 108px;
  background-color: #030a1a;

  @media (max-width: 1199px) {
    min-height: 114px;
  }

  @media (max-width: 767px) {
    min-height: 260px;
  }
}

.footer__wrapper {
  width: calc(100% - 208px);
  margin: 0 auto;
  max-width: 1160px;
  display: flex;

  @media (max-width: 1199px) {
    padding: 0 46px 0 44px;
    width: 100%;
  }

  @media (max-width: 767px) {
    position: relative;
    flex-direction: column;
    padding: 0;
  }
}

.footer__image-wrapper {
  padding: 43px 0 0 0;
  margin: 0 auto 0 0;

  @media (max-width: 1199px) {
    padding: 47px 0 0 0;
  }
}

.footer__logo {
  @media (max-width: 767px) {
    padding: 0;
    position: absolute;
    top: 49px;
    left: 15px;
  }
}

.footer__image {
  &:hover {
    opacity: 0.7;
  }

  @media (max-width: 1199px) {
    width: 82px;
    height: 18px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.footer__list {
  padding: 41px 0 0 0;
  margin: 0 auto 0 0;
  list-style: none;
  display: flex;
  column-gap: 40px;
  flex-wrap: wrap;
  max-width: 744px;
  row-gap: 10px;

  @media (max-width: 1199px) {
    column-gap: 30px;
    padding: 46px 0 0 0;
    max-width: 390px;
  }

  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0 0 15px;
    row-gap: 15px;
    column-gap: 5%;
    margin: 0 0 33px 0;
  }
}

.footer__item {
  &:first-child {
    display: none;
  }

  @media (max-width: 767px) {
    &:first-child {
      grid-row: 1;
      display: block;
    }

    &:nth-child(n+2) {
      grid-row: 2;
    }

    &:nth-child(n+3) {
      grid-column: 1;
      grid-row: 3;
    }

    &:nth-child(n+4) {
      grid-column: 2;
      grid-row: 1;
    }

    &:nth-child(n+5) {
      grid-column: 2;
      grid-row: 2;
    }

    &:nth-child(n+6) {
      grid-column: 2;
      grid-row: 3;
    }

    &:nth-child(n+7) {
      grid-column: auto;
      grid-row: auto;
    }
  }
}

.footer__item svg {
  @media (max-width: 767px) {
    width: 68px;
    height: 15px;
  }
}

.footer__link {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @media (max-width: 767px) {
    font-weight: 400;
    font-size: 16px;
  }
}

.footer__socials {
  margin: 0 -3px;
  padding: 41px 0 5px 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 11px;
  row-gap: 5px;

  @media (max-width: 1199px) {
    padding: 45px 0 5px 0;
    margin: 0 -8px;
  }

  @media (max-width: 767px) {
    padding: 0 0 5px 15px;
    margin: 0;
    max-width: 97px;
  }
}

.footer__social-item {
  width: 25px;
  height: 25px;
}

.footer__social-image {
  &:hover {
    opacity: 0.7;
  }
}
