.header {
  min-height: 658px;
  background: conic-gradient(from 150.87deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
  margin: 0 0 120px 0;

  @media (max-width: 1199px) {
    min-height: 554px;
    margin: 0 0 101px 0;
  }

  @media (max-width: 767px) {
    min-height: 491px;
    margin: 0 0 63px 0;
  }
}

.header__wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1199px) {
    padding: 0 45px;
  }

  @media (max-width: 767px) {
    padding: 0 15px;
  }
}

.header__logo {
  padding: 30px 0 0 0;

  @media (max-width: 1199px) {
    padding: 40px 0 0 0;
  }

  @media (max-width: 767px) {
    padding: 15px 0 0 0;
  }
}

.header__image {
  @media (max-width: 1199px) {
    width: 82px;
    height: 17px;
  }

  @media (max-width: 767px) {
    width: 69px;
    height: 24px;
  }
}

.header__phone {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 10px 0 0 0;

  &:hover,
  &:focus {
    color: #102654;
  }

  @media (max-width: 1199px) {
    padding: 36px 0 0 0;
    font-size: 23px;
    line-height: 29px;
    font-weight: 700;
  }

  @media (max-width: 767px) {
    padding: 9px 0 0 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
}

.header__content {
  display: flex;
  max-width: 1121px;
  margin: 0 auto;
  position: relative;

  @media (max-width: 1199px) {
    padding: 0 45px;
    justify-content: space-around;
  }

  @media (max-width: 767px) {
    padding: 0 15px;
    justify-content: space-between;
    max-width: 400px;
  }
}

.header__list {
  margin: 0;
  list-style: none;
  text-align: end;
  padding: 275px 0 0 0;

  @media (max-width: 1199px) {
    padding: 205px 0 0 0;
  }

  @media (max-width: 767px) {
    margin: 0 11px 0 0;
    padding: 187px 0 0 0;
  }
}

.header__item {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 0 0;

  @media (max-width: 1199px) {
    padding: 68px 0 0 0;
  }

  @media (max-width: 767px) {
    padding: 61px 0 0 0;
    margin: 0 0 0 -48px;
  }
}

.header__title p {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 0 85px 0 0;
  align-self: end;
  margin: 0 0 16px 0;

  @media (max-width: 1199px) {
    font-size: 34px;
    line-height: 41px;
    padding: 0 28px 0 0;
    margin: 0 0 8px 0;
  }

  @media (max-width: 767px) {
    font-size: 28px;
    line-height: 34px;
    padding: 0 3px 0 0;
    margin: 0 0 16px 0;
  }
}

.header__title h1 {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 92px;
  line-height: 110px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0 0 47px 0;
  max-width: 298px;
  text-transform: uppercase;
  -webkit-text-stroke: 4px;
  padding: 0 33px 0 0;

  @media (max-width: 1199px) {
    font-size: 72px;
    line-height: 86px;
    text-transform: none;
    padding: 0 23px 0 0;
    max-width: 235px;
    margin: 0 0 36px 0;
  }

  @media (max-width: 767px) {
    font-size: 72px;
    line-height: 86px;
    padding: 0;
    max-width: 213px;
  }
}

.header__button {
  padding: 21px 55px;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  border: 4px solid #ffffff;

  &:hover,
  &:focus {
    color: #102654;
    background-color: #ffffff;
  }

  @media (max-width: 1199px) {
    padding: 20px 32px;
    max-height: 61px;
    max-width: 190px;
  }

  @media (max-width: 767px) {
    padding: 20px 84px;
    max-height: 61px;
    position: absolute;
    width: 92vw;
    bottom: -47px;
    left: 13px;
    max-width: 400px;
    text-align: center;
  }
}

.header__picture {
  @media (max-width: 1199px) {
    padding: 18px 0 0 6px;
  }

  @media (max-width: 767px) {
    padding: 0;
    display: none;
  }
}

.header__picture img {
  position: absolute;
  top: -30px;
  right: 180px;

  @media (max-width: 1199px) {
    width: 100%;
    position: unset;
    height: 390px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}
