.intro {
  display: flex;
  padding: 0 100px 0 163px;
  position: relative;
  margin: 0 auto 237px;
  max-width: 1366px;

  @media (max-width: 1199px) {
    flex-direction: column;
    padding: 0 45px;
  }

  @media (max-width: 767px) {
    padding: 0;
    margin: 0 auto 48px;
  }
}

.intro img {
  @media (max-width: 1199px) {
    margin: 0 auto;
    width: 90vw;
  }

  @media (max-width: 767px) {
    width: 100%;
    margin: 0 0 40px 0;
  }
}

.intro__content {
  display: flex;
  flex-direction: column;
  max-width: 355px;
  margin: 0 85px 0 0;
  padding: 38px 0 0 0;

  @media (max-width: 1199px) {
    margin: 0;
    text-align: center;
    max-width: unset;
    padding: 0 85px;
  }

  @media (max-width: 767px) {
    padding: 0 15px 0 15px;
    text-align: start;
  }
}

.intro__content h2 {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;
  color: #102654;
  margin: 0 0 8px 0;

  @media (max-width: 1199px) {
    font-size: 42px;
    line-height: 50px;
    padding: 0 15px 0 0;
    margin: 0 auto;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 38px;
    padding: 0;
    margin: 0 0 6px 0;
  }
}

.intro__content h3 {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #102654;
  margin: 0 0 40px 0;

  @media (max-width: 1199px) {
    margin: 0 0 33px 0;
  }

  @media (max-width: 767px) {
    margin: 0 0 24px 0;
  }
}

.intro__content p {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #102654;
  margin: 0 0 7px 0;

  @media (max-width: 1199px) {
    margin: 0 0 44px 0;
  }

  @media (max-width: 767px) {
    max-width: 258px;
    margin: 0 0 33px 0;
  }

  @media (min-width: 321px) and (max-width: 767px) {
    max-width: 100%;
  }
}

.intro__content span {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #102654;
  margin: 0;

  @media (max-width: 1199px) {
    display: none;
  }
}

.intro__video {
  position: absolute;
  top: 287px;
  left: 39.5%;
  cursor: pointer;

  @media (min-width: 1199px) and (max-width: 1250px) {
    left: 41.5%;
  }

  @media (max-width: 1199px) {
    top: 85.3%;
    left: 32.5%;
  }

  @media (max-width: 767px) {
    position: static;
  }
}

.intro__video img {
  @media (max-width: 1199px) {
    width: 34.5vw;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.intro__play {
  position: absolute;
  top: 29%;
  right: 36%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 0;
  background: transparent;

  &:hover::before {
    scale: 1.05;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("../img/svg/play.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }

  @media (max-width: 1199px) {
    &::before {
      background: url("../img/svg/play-tablet.svg");
      width: 73px;
      height: 73px;
    }
  }

  @media (max-width: 767px) {
    top: 80.7%;
    right: 38%;
  }

  @media (min-width: 500px) and (max-width: 767px) {
    right: 43%;
  }
}


.intro__video iframe {
  border: 0;

  @media (max-width: 1199px) {
    width: 34.5vw;
    height: 24vw;
  }

  @media (max-width: 767px) {
    width: 100%;
    height: 52vw;
  }
}

.intro__iframe {
  display: none;
}
